@charset "UTF-8";

    @font-face {
        font-family:'idroid' ;
        src: url('idroid.otf')
        format(opentype);
        }

    @font-face {
        font-family:'bebas';
        src: url(BebasNeue-Regular.ttf)
        format(truetype)
    }

    body{
        background-color: #84E1AD;
        margin: 0px;          
        font-family: Arial, Helvetica, sans-serif
    }

    strong{
        color:#2C6848;
        text-decoration: none;
        font-weight: bold;
    }

    header{
        background-image:linear-gradient(to top, #1A5C38, #278B54, #39CD7B);
        text-align: center;
        padding: 10px;
        margin: 0px;
        color: white;
    }
    header > h1{
        font-family: 'bebas';
        text-align: center;
        color: white;
    }
    
    header > p{
        margin: auto;
        width: 400px;
        height:70px;
        
    }
    header > nav{
    text-align: left;
    }
 
    nav > a{
        color:white;
        text-decoration: none;
        padding: 5px;
        
    }
    nav > a:hover{
        background-color:#2FA866 ;
        color: white;
        border-radius: 5px;
        transition-duration: 1s;
    }

    main{
        background-color: white;
        min-width: 300px;
        max-width: 800px;
        
        text-align: justify;
        margin: auto;
        border-radius: 0px 0px 10px 10px;
    }

    article{
        padding: 10px;
    }

    h1{
        font-family: 'idroid';
        color: #2C6848;
        margin: 0px;
        text-align: left;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39)
    }

    h2{
        font-family: 'idroid';
        color: #2C6848;
        background-image:linear-gradient(to right, #ade5c4, #E2F6EB,#FDFEFE );
        text-align: left;
        padding: 2px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39)
    }

    article p{
        text-indent: 30px;
    }

    article a{
        text-decoration: underline;
        color: #2C6848;
    } 
    
    article a:hover{
        background-color: #1a5c38;
        color: white;
    }
        
    .imagens{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }
    #imgsolitaria{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width:40%;
        
    }

    #video{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        background-color: #1A5C38;
        padding:40px;      
    }

    aside{
        background-color: #C5EBD6;
        border-radius: 5px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.39);
        margin: 10px;
    }

    h3{
        background-color: #2FA866;
        border-radius: 5px 5px 0px 0px;
        padding: 10px;
        font-weight: normal;
        color: white;
        font-weight: normal;
        text-shadow: 3px 3px 8px black;
    }

    aside p{
        margin:5px;
        margin-bottom: 10px;
    }

    aside > ul{
        list-style-type: '\1F5F8\00A0';
        columns:2;
    }

    footer{
        background-color: #1A5C38;
        text-align: center;
    }
    footer > p{
        margin: 10px 0px 0px 0px;
        color:black;
    }
    footer > p > a{
        color: rgba(255, 255, 255, 0.808);
    }
    footer a:hover{
        text-decoration: underline;
    }
    
