@charset "UTF-8";

/*
em html id = em css # (um por documento)
em html class = em css . (varios por documento)
*/

.n1{
    color: pink;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: larger;
}

h1{
    color: blue;
}

h2{
    color: aqua;
}

p{
    color: blueviolet;
}