@charset "UTF-8";
:root{
    --verde_claro:#127369;
    --verde_escuro:#10403B;
    --letra:#ffffffd8;
    --preto:#000;
    --branco:#fff;
    --shadow:rgb(0, 0, 0, 0.425);
    --link:#0000EE ;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

#a, #b, #c, #d{
    position: absolute;
    display: block;
    margin-bottom: 100px;
}

#a{
    top: 0%;
}

#b{
    top: 100%;
}

#c{
    top:170%;
}

#d{
    top:200%;
}

#container{
    color: var(--letra);
    background: linear-gradient(to top, var(--preto), var(--verde_escuro));
}

#bar{
    position: absolute;
    top: 0;
    display: block;
    position: fixed;
    width: 100vw;
    height: 100px;
    overflow: hidden;
    background-color: var(--verde_escuro);
    padding: 5px;
    z-index: 2;
}

#left{
    float: left;
}

#bar > nav{
    margin-top: 30px;
    margin-right: 50px;
    float: right;
}

a:hover{
    background-color: var(--verde_claro);
}

#bar > nav > a{
    display: inline-block;
    color: var(--letra);
    font-size: 1.5rem;
    margin: 5px;
    color: var(--letra);
}

#contato a{
    color: var(--letra);
}

main{
    margin: auto;
    margin-top: 100px;
    width: 60%;
    display: block;
    background: linear-gradient(to top, var(--preto), var(--verde_escuro));
}

main h1{
    text-align: center;
    font-size: 2rem;
}

#sobre{
    height: 100vh;
    padding-top: 100px;
}

#sobre_texto{
    text-align: justify;
    font-size: 1.2rem;
}

#skills{
    height: 500px;
    margin: 100px auto;
    overflow: hidden;
    scroll-margin-top: 5000px;
}

#skills > h1{
    margin-bottom: 20px;
}

#_skills{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    overflow: hidden;
}

#_skills  div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 300px;
    border: 2px solid var(--preto);
    text-align: justify;
    margin: 0px 20px;
}

#_skills p{
    width: 160px;
    margin: auto;
    font-size: 1.1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#_skills img{
    width: 150px;
    display: block;
    margin: auto;
    position: absolute;
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.3s ease;
}

#_skills  div:hover p{
    display: block;
    opacity: 1;
}

#_skills > div:hover img{
    transform: translateY(-150%);
    opacity: 0;
}

#qualificacoes{
    height: 300px;
}

#qualificacoes h1{
    margin-bottom: 20px;
}

li{
    margin: 10px;
    font-size: 1.2rem;
    list-style-position: inside;
}

#projetos{
    padding-bottom: 50px;
}

#projetos p{
    font-size: 1.2rem;
}

#projetos img{
    display: block;
    width: 50%;

}

#projetos a{
    display: block;
    color: var(--letra);
    margin-top: 5px;
    width: fit-content;
}

#projetos > div p{
    display: block;
    width: 45%;
    text-align: justify;
}

#projetos > div{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

#td, #quiz, #alan{
    display: block;
    flex-direction: row;
}

#fw, #android{
    flex-direction: row-reverse;
}
